*{
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: 'Hiragino Sans', sans-serif;
	line-height: 1.7;
	letter-spacing: 1px;
  }
h1,h2, h3, h4, h5, h6,th{
	font-weight: normal;
}
h1{
	border-bottom: 5px solid lightblue;
	color: grey;
}
/* .idpass{
	width: 100px;
	height: 20px;
} */
button{ 
	width: 200px;
	height: 60px;
	background-color: #1da1f2;
	color: rgb(251, 249, 249);
	margin-top: 20px;
	margin-left:30px;
	font-size: 25px;
	border-radius: 10px;
	box-shadow: 0;
	cursor: pointer;
 }
.btn{
	float:left;
}
 body{
	color: rgb(83, 83, 83);
 }
 .btnbox{
	display: block;
 }
 .time{
	font-size: 850%;
	text-align: center;
	display: block;
 }
 /* .contents{
	width:100%
 } */
@media (max-width:670px){
	.time{
		font-size: 350%;
		text-align: center;
	 }
	 h1{
		font-size: 25px;
	 }
	 /* button{ */
		/* width: 50%; */
		/* padding:5%; */
	 /* } */
	 .btn{
		/* width:20%; */
		padding-left:10px;
		padding-right: 10px;
		/* float:left; */
	 }
	 button{
		width:100%;
	 }

}
